<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/img/la-musique.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Groupie Tracker</title>
  </head>

  <body>
    <div class="gradient"></div>
    {{if .HomePage}}
    <a href="/">
      <div class="home">
        <i class="fa-solid fa-house"></i>
      </div>
    </a>
    {{end}}
    <div class="play">
      <i class="fa-solid fa-music"></i>
    </div>
    <div class="music1">
      <i class="fa-solid fa-music"></i>
    </div>
    <div class="music2">
      <i class="fa-solid fa-music"></i>
    </div>
    <div class="title">
      <h1>Groupie Tracker</h1>
      <p>All bands in one place</p>
    </div>

    <!-- Input to search for artists by name, members, 
     creation data, first album and locations -->
    <div class="search">
      <form action="/sch" method="GET">
        <div class="focus">
          <input
          list="artists"
          name="s"
          type="search"
          placeholder="Type your search..."
          required
        />
        <div></div>
        </div>
        <datalist id="artists">
          {{range $key, $value := .Duplicates}}
          <option value="{{$key}}">{{$key}} - {{$value}}</option>
          {{end}}
        </datalist>
        <button type="submit">Search</button>
      </form>
    </div>

    <div class="container">
      {{range .CurrentArtists}}
      <div>
        <a href="/infos?id={{.ID}}">
          <img loading="lazy" width="240" height="240" src="{{.Image}}" />
          <h4>{{.Name}}</h4>
        </a>
      </div>
      {{end}}
    </div>

  </body>
</html>
